/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/pictures/*
!web/pictures/.gitkeep
/web/businessCardPdfs/*
!web/businessCardPdfs/.gitkeep
/vendor/
/web/bundles/
/.DS_Store
/.idea
/web/.DS_Store
